@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
  }

@font-face {
    font-family: "biko";
    src: url('../public/fonts/Biko_Regular.otf');
}

@font-face {
    font-family: "couture";
    src: url('../public/fonts/couture-bld.otf');
}

